.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.about-img {
    height: 37.5rem;
    width: 37.5rem;
}

.about-bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.about-title {
    margin-bottom: var(--bottom-margin);
}

.bio-text {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

@media screen and (max-width: 720px) {
    .about {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
    }
    
    .about-img {
        height: 37.5rem;    
        width: 30rem;
    }
    
    .about-bio {
        margin-top: -7rem;
        width: 20.5rem;
        background-color: var(--bg-color);
    }
}