.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skills-wrapper p {
    text-transform: uppercase;
    color: #3d4449;
    letter-spacing: 0.2em;
    padding: 1.25rem;
}